@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Spoqa Han Sans Neo", "Product Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0F192E;
  line-height: 1;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  word-break: keep-all;
  letter-spacing: -0.3px;
}

body {
  overflow-x: hidden;
}

body.bg_gray {
  background-color: #F9FAFB;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section, main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #0F192E;
  text-decoration: none;
  transition: all 0.3s;
}

select {
  position: relative;
  width: 100%;
  font-family: "Spoqa Han Sans Neo", "Product Sans", "Helvetica Neue", sans-serif;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  color: #0F192E;
  border: 1px solid #B9C8CF;
  appearance: none;
  padding: 0 30px 0 10px;
  vertical-align: middle;
  border-radius: 3px;
}

select::-ms-expand {
  display: none;
}

button {
  font-family: "Spoqa Han Sans Neo", "Product Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  letter-spacing: -1px;
  cursor: pointer;
}

input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #B9C8CF;
  cursor: pointer;
  margin-right: 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #B9C8CF;
  cursor: pointer;
  margin-right: 10px;
  background-image: url(../../images/common/ico_checkbox.svg);
  background-position: center center;
  background-size: 16px;
  background-repeat: no-repeat;
}

input[type="radio"] {
  position: absolute;
  left: -3000%;
}

input[type="radio"] + label {
  position: relative;
  letter-spacing: -1px;
}

input[type="radio"] + label::before {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
  position: relative;
  font-size: 16px;
  transition: all 0.3s;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 2px;
}

input[type="radio"] + label::before {
  color: #B9C8CF;
  font-weight: 700;
}

input[type="radio"]:checked + label {
  position: relative;
  font-weight: 700;
}

input[type="radio"]:checked + label::before {
  font-weight: 700;
  background: #fefefe;
}

input[type="tel"],
input[type="time"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="file"],
input[type="url"],
input[type="number"],
input[type="date"] {
  width: 100%;
  font-family: "Spoqa Han Sans Neo", "Product Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  height: 50px;
  border: 1px solid #B9C8CF;
  background: #fefefe;
  padding: 0 15px;
  vertical-align: middle;
  border-radius: 6px;
  line-height: 50px;
  transition: all 0.3s;
}

input[type="tel"].error,
input[type="time"].error,
input[type="text"].error,
input[type="password"].error,
input[type="search"].error,
input[type="email"].error,
input[type="file"].error,
input[type="url"].error,
input[type="number"].error,
input[type="date"].error {
  border-color: #cf3c44;
}

input::-webkit-input-placeholder {
  color: #81909b;
  font-size: 16px;
  line-height: 50px;
}

textarea {
  width: 100%;
  font-family: "Spoqa Han Sans Neo", "Product Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  border: 1px solid #B9C8CF;
  background: #fefefe;
  padding: 14px 15px;
  vertical-align: middle;
  border-radius: 6px;
  line-height: 1.6;
  height: 300px;
  transition: all 0.3s;
  word-break: break-all;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #81909b;
  font-size: 16px;
  line-height: 1.6;
}

select:focus,
textarea:focus,
input:focus {
  outline: medium;
  -webkit-appearance: none;
  background-color: #FFF;
  border: 1px solid #4F5A60;
}

input[type="tel"][readonly],
input[type="text"][readonly],
input[type="password"][readonly],
input[type="email"][readonly],
input[type="search"][readonly],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="email"][disabled] {
  background: #f6f8f9;
  color: #81909b;
  -webkit-appearance: none;
  outline: medium;
}

input[type="text"][readonly]::-webkit-input-placeholder {
  color: #0573E7;
}

textarea[readonly],
textarea[disabled] {
  background: #f6f8f9;
  border-color: #B9C8CF;
  color: #81909b;
  -webkit-appearance: none;
  outline: medium;
}

a {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.left {
  justify-content: flex-start;
}

.row.right {
  justify-content: flex-end;
}

.row.center {
  justify-content: center;
}

.row.adjust {
  justify-content: space-between;
}

.row.nowrap {
  flex-wrap: nowrap;
}

.w-50 {
  width: 50% !important;
}

.w-100 {
  width: 100% !important;
}

.fw-100 {
  flex-basis: 100% !important;
}

/* 텍스트 굵기, 색상 */
.bold {
  font-weight: 700 !important;
}

.bold-m {
  font-weight: 500 !important;
}

.txt-red {
  color: #cf3c44 !important;
}

.txt-blue {
  /*color: #0573E7 !important;*/
  color: #3264B4 !important;
}

.txt-yellow {
  color: #FFE501 !important;
}

.txt-green {
  color: #1DD16B !important;
}

.txt-gray {
  color: #4F5A60 !important;
}

.txt-gray-dark {
  color: #394552 !important;
}

.txt-white {
  color: #fff !important;
}

/* 텍스트 정렬 */
.txt-al {
  text-align: left !important;
}

.txt-ac {
  text-align: center !important;
}

.txt-ar {
  text-align: right !important;
}

/* 패딩,마진 스타일 */
.pd-0 {
  padding: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pd-5 {
  padding: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pd-10 {
  padding: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pd-20 {
  padding: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pd-25 {
  padding: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pd-30 {
  padding: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pd-35 {
  padding: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pd-40 {
  padding: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pd-45 {
  padding: 45px !important;
}

.mg-0 {
  margin: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mg-5 {
  margin: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mg-10 {
  margin: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mg-15 {
  margin: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mg-20 {
  margin: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mg-25 {
  margin: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mg-30 {
  margin: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mg-35 {
  margin: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mg-40 {
  margin: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

/* 간격 스타일 */
.space-5 {
  height: 5px;
}

.space-10 {
  height: 10px;
}

.space-15 {
  height: 15px;
}

.space-20 {
  height: 20px;
}

.space-25 {
  height: 25px;
}

.space-30 {
  height: 30px;
}

.space-35 {
  height: 35px;
}

.space-40 {
  height: 40px;
}

.space-45 {
  height: 45px;
}

.space-50 {
  height: 50px;
}

hr {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  border: none;
  border-top: 1.5px solid #4B6571;
}

hr.pop-hr {
  height: 15px;
  margin-top: 25px;
}


/* 공지사항, 홍보/보도 상세 */
.contWrap .newsContent div,
.contWrap .newsContent span,
.contWrap .newsContent applet,
.contWrap .newsContent object,
.contWrap .newsContent iframe,
.contWrap .newsContent h1,
.contWrap .newsContent h2,
.contWrap .newsContent h3,
.contWrap .newsContent h4,
.contWrap .newsContent h5,
.contWrap .newsContent h6,
.contWrap .newsContent p,
.contWrap .newsContent blockquote,
.contWrap .newsContent pre,
.contWrap .newsContent a,
.contWrap .newsContent abbr,
.contWrap .newsContent acronym,
.contWrap .newsContent address,
.contWrap .newsContent big,
.contWrap .newsContent cite,
.contWrap .newsContent code,
.contWrap .newsContent del,
.contWrap .newsContent dfn,
.contWrap .newsContent em,
.contWrap .newsContent img,
.contWrap .newsContent ins,
.contWrap .newsContent kbd,
.contWrap .newsContent q,
.contWrap .newsContent s,
.contWrap .newsContent samp,
.contWrap .newsContent small,
.contWrap .newsContent strike,
.contWrap .newsContent strong,
.contWrap .newsContent sub,
.contWrap .newsContent sup,
.contWrap .newsContent tt,
.contWrap .newsContent var,
.contWrap .newsContent b,
.contWrap .newsContent u,
.contWrap .newsContent i,
.contWrap .newsContent center,
.contWrap .newsContent dl,
.contWrap .newsContent dt,
.contWrap .newsContent dd,
.contWrap .newsContent ol,
.contWrap .newsContent ul,
.contWrap .newsContent li,
.contWrap .newsContent fieldset,
.contWrap .newsContent form,
.contWrap .newsContent label,
.contWrap .newsContent legend,
.contWrap .newsContent table,
.contWrap .newsContent caption,
.contWrap .newsContent tbody,
.contWrap .newsContent tfoot,
.contWrap .newsContent thead,
.contWrap .newsContent tr,
.contWrap .newsContent th,
.contWrap .newsContent td,
.contWrap .newsContent article,
.contWrap .newsContent aside,
.contWrap .newsContent canvas,
.contWrap .newsContent details,
.contWrap .newsContent embed,
.contWrap .newsContent figure,
.contWrap .newsContent figcaption,
.contWrap .newsContent footer,
.contWrap .newsContent header,
.contWrap .newsContent hgroup,
.contWrap .newsContent menu,
.contWrap .newsContent nav,
.contWrap .newsContent output,
.contWrap .newsContent ruby,
.contWrap .newsContent section,
.contWrap .newsContent summary,
.contWrap .newsContent time,
.contWrap .newsContent mark,
.contWrap .newsContent audio,
.contWrap .newsContent video,
/* FAQ 상세(답변) */
.contWrap .answerBox div,
.contWrap .answerBox span,
.contWrap .answerBox applet,
.contWrap .answerBox object,
.contWrap .answerBox iframe,
.contWrap .answerBox h1,
.contWrap .answerBox h2,
.contWrap .answerBox h3,
.contWrap .answerBox h4,
.contWrap .answerBox h5,
.contWrap .answerBox h6,
.contWrap .answerBox p,
.contWrap .answerBox blockquote,
.contWrap .answerBox pre,
.contWrap .answerBox a,
.contWrap .answerBox abbr,
.contWrap .answerBox acronym,
.contWrap .answerBox address,
.contWrap .answerBox big,
.contWrap .answerBox cite,
.contWrap .answerBox code,
.contWrap .answerBox del,
.contWrap .answerBox dfn,
.contWrap .answerBox em,
.contWrap .answerBox img,
.contWrap .answerBox ins,
.contWrap .answerBox kbd,
.contWrap .answerBox q,
.contWrap .answerBox s,
.contWrap .answerBox samp,
.contWrap .answerBox small,
.contWrap .answerBox strike,
.contWrap .answerBox strong,
.contWrap .answerBox sub,
.contWrap .answerBox sup,
.contWrap .answerBox tt,
.contWrap .answerBox var,
.contWrap .answerBox b,
.contWrap .answerBox u,
.contWrap .answerBox i,
.contWrap .answerBox center,
.contWrap .answerBox dl,
.contWrap .answerBox dt,
.contWrap .answerBox dd,
.contWrap .answerBox ol,
.contWrap .answerBox ul,
.contWrap .answerBox li,
.contWrap .answerBox fieldset,
.contWrap .answerBox form,
.contWrap .answerBox label,
.contWrap .answerBox legend,
.contWrap .answerBox table,
.contWrap .answerBox caption,
.contWrap .answerBox tbody,
.contWrap .answerBox tfoot,
.contWrap .answerBox thead,
.contWrap .answerBox tr,
.contWrap .answerBox th,
.contWrap .answerBox td,
.contWrap .answerBox article,
.contWrap .answerBox aside,
.contWrap .answerBox canvas,
.contWrap .answerBox details,
.contWrap .answerBox embed,
.contWrap .answerBox figure,
.contWrap .answerBox figcaption,
.contWrap .answerBox footer,
.contWrap .answerBox header,
.contWrap .answerBox hgroup,
.contWrap .answerBox menu,
.contWrap .answerBox nav,
.contWrap .answerBox output,
.contWrap .answerBox ruby,
.contWrap .answerBox section,
.contWrap .answerBox summary,
.contWrap .answerBox time,
.contWrap .answerBox mark,
.contWrap .answerBox audio,
.contWrap .answerBox video,
/* 이용약관 */
.ecWrap .ecBody div,
.ecWrap .ecBody span,
.ecWrap .ecBody applet,
.ecWrap .ecBody object,
.ecWrap .ecBody iframe,
.ecWrap .ecBody h1,
.ecWrap .ecBody h2,
.ecWrap .ecBody h3,
.ecWrap .ecBody h4,
.ecWrap .ecBody h5,
.ecWrap .ecBody h6,
.ecWrap .ecBody p,
.ecWrap .ecBody blockquote,
.ecWrap .ecBody pre,
.ecWrap .ecBody a,
.ecWrap .ecBody abbr,
.ecWrap .ecBody acronym,
.ecWrap .ecBody address,
.ecWrap .ecBody big,
.ecWrap .ecBody cite,
.ecWrap .ecBody code,
.ecWrap .ecBody del,
.ecWrap .ecBody dfn,
.ecWrap .ecBody em,
.ecWrap .ecBody img,
.ecWrap .ecBody ins,
.ecWrap .ecBody kbd,
.ecWrap .ecBody q,
.ecWrap .ecBody s,
.ecWrap .ecBody samp,
.ecWrap .ecBody small,
.ecWrap .ecBody strike,
.ecWrap .ecBody strong,
.ecWrap .ecBody sub,
.ecWrap .ecBody sup,
.ecWrap .ecBody tt,
.ecWrap .ecBody var,
.ecWrap .ecBody b,
.ecWrap .ecBody u,
.ecWrap .ecBody i,
.ecWrap .ecBody center,
.ecWrap .ecBody dl,
.ecWrap .ecBody dt,
.ecWrap .ecBody dd,
.ecWrap .ecBody ol,
.ecWrap .ecBody ul,
.ecWrap .ecBody li,
.ecWrap .ecBody fieldset,
.ecWrap .ecBody form,
.ecWrap .ecBody label,
.ecWrap .ecBody legend,
.ecWrap .ecBody table,
.ecWrap .ecBody caption,
.ecWrap .ecBody tbody,
.ecWrap .ecBody tfoot,
.ecWrap .ecBody thead,
.ecWrap .ecBody tr,
.ecWrap .ecBody th,
.ecWrap .ecBody td,
.ecWrap .ecBody article,
.ecWrap .ecBody aside,
.ecWrap .ecBody canvas,
.ecWrap .ecBody details,
.ecWrap .ecBody embed,
.ecWrap .ecBody figure,
.ecWrap .ecBody figcaption,
.ecWrap .ecBody footer,
.ecWrap .ecBody header,
.ecWrap .ecBody hgroup,
.ecWrap .ecBody menu,
.ecWrap .ecBody nav,
.ecWrap .ecBody output,
.ecWrap .ecBody ruby,
.ecWrap .ecBody section,
.ecWrap .ecBody summary,
.ecWrap .ecBody time,
.ecWrap .ecBody mark,
.ecWrap .ecBody audio,
.ecWrap .ecBody video,
/* 이용약관 팝업 */
.popWrap .ecBody div,
.popWrap .ecBody span,
.popWrap .ecBody applet,
.popWrap .ecBody object,
.popWrap .ecBody iframe,
.popWrap .ecBody h1,
.popWrap .ecBody h2,
.popWrap .ecBody h3,
.popWrap .ecBody h4,
.popWrap .ecBody h5,
.popWrap .ecBody h6,
.popWrap .ecBody p,
.popWrap .ecBody blockquote,
.popWrap .ecBody pre,
.popWrap .ecBody a,
.popWrap .ecBody abbr,
.popWrap .ecBody acronym,
.popWrap .ecBody address,
.popWrap .ecBody big,
.popWrap .ecBody cite,
.popWrap .ecBody code,
.popWrap .ecBody del,
.popWrap .ecBody dfn,
.popWrap .ecBody em,
.popWrap .ecBody img,
.popWrap .ecBody ins,
.popWrap .ecBody kbd,
.popWrap .ecBody q,
.popWrap .ecBody s,
.popWrap .ecBody samp,
.popWrap .ecBody small,
.popWrap .ecBody strike,
.popWrap .ecBody strong,
.popWrap .ecBody sub,
.popWrap .ecBody sup,
.popWrap .ecBody tt,
.popWrap .ecBody var,
.popWrap .ecBody b,
.popWrap .ecBody u,
.popWrap .ecBody i,
.popWrap .ecBody center,
.popWrap .ecBody dl,
.popWrap .ecBody dt,
.popWrap .ecBody dd,
.popWrap .ecBody ol,
.popWrap .ecBody ul,
.popWrap .ecBody li,
.popWrap .ecBody fieldset,
.popWrap .ecBody form,
.popWrap .ecBody label,
.popWrap .ecBody legend,
.popWrap .ecBody table,
.popWrap .ecBody caption,
.popWrap .ecBody tbody,
.popWrap .ecBody tfoot,
.popWrap .ecBody thead,
.popWrap .ecBody tr,
.popWrap .ecBody th,
.popWrap .ecBody td,
.popWrap .ecBody article,
.popWrap .ecBody aside,
.popWrap .ecBody canvas,
.popWrap .ecBody details,
.popWrap .ecBody embed,
.popWrap .ecBody figure,
.popWrap .ecBody figcaption,
.popWrap .ecBody footer,
.popWrap .ecBody header,
.popWrap .ecBody hgroup,
.popWrap .ecBody menu,
.popWrap .ecBody nav,
.popWrap .ecBody output,
.popWrap .ecBody ruby,
.popWrap .ecBody section,
.popWrap .ecBody summary,
.popWrap .ecBody time,
.popWrap .ecBody mark,
.popWrap .ecBody audio,
.popWrap .ecBody video
 {
  vertical-align: revert !important;
  text-decoration: revert !important;
  list-style: revert !important;
  font-style: revert !important;
  padding : revert;
  font: revert;
  color: revert;
}

