@charset "UTF-8";

/* Spoqa Han Sans Neo */
@font-face {
	font-family: "Spoqa Han Sans Neo";
	font-style: normal;
	font-weight: 400;
	src: url('../../font/SpoqaHanSansNeo-Regular.eot');
	src: url('../../font/SpoqaHanSansNeo-Regular.eot') format('embedded-opentype'),
		url('../../font/SpoqaHanSansNeo-Regular.woff') format('woff'),
		url('../../font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Spoqa Han Sans Neo";
	font-style: normal;
	font-weight: 500;
	src: url('../../font/SpoqaHanSansNeo-Medium.eot');
	src: url('../../font/SpoqaHanSansNeo-Medium.eot') format('embedded-opentype'),
		url('../../font/SpoqaHanSansNeo-Medium.woff') format('woff'),
		url('../../font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
	font-family: "Spoqa Han Sans Neo";
	font-style: normal;
	font-weight: 700;
	src: url('../../font/SpoqaHanSansNeo-Bold.eot');
	src: url('../../font/SpoqaHanSansNeo-Bold.eot') format('embedded-opentype'),
		url('../../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
		url('../../font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}


/* Roboto */
@font-face {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 300;
	src: url('../../font/Roboto-Light.eot');
	src: url('../../font/Roboto-Light.eot') format('embedded-opentype'),
		url('../../font/Roboto-Light.woff') format('woff'),
		url('../../font/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	src: url('../../font/Roboto-Medium.eot');
	src: url('../../font/Roboto-Medium.eot') format('embedded-opentype'),
		url('../../font/Roboto-Medium.woff') format('woff'),
		url('../../font/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	src: url('../../font/Roboto-Bold.eot');
	src: url('../../font/Roboto-Bold.eot') format('embedded-opentype'),
		url('../../font/Roboto-Bold.woff') format('woff'),
		url('../../font/Roboto-Bold.ttf') format('truetype');
}


/* Product Sans  */

@font-face {
	font-family: "Product Sans";
	font-style: normal;
	font-weight: 700;
	src: url('../../font/Product Sans Regular.eot');
	src: url('../../font/Product Sans Regular.eot') format('embedded-opentype'),
		url('../../font/Product-Sans-Regular.woff') format('woff'),
		url('../../font/Product Sans Regular.ttf') format('truetype');
}


/* Helvetica Neue  */

@font-face {
	font-family: "Helvetica Neue";
	font-style: normal;
	font-weight: 700;
	src: url('../../font/HelveticaNeue-LightExt.eot');
	src: url('../../font/HelveticaNeue-LightExt.eot') format('embedded-opentype'),
		url('../../font/HelveticaNeue-LightExt.woff') format('woff'),
		url('../../font/HelveticaNeue-LightExt.ttf') format('truetype');
}